<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>StarFindr</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel='stylesheet' type='text/css' href='/stylesheets/main.css'>
    <link rel="icon" href="/img/solar-system.png">
</head>
<body>
    <header id='header'>
        <a href='/' id='brand'>StarFindr</a>
        <form action='/search' method='POST'>
            <input type="text" name='search' id='search'>
            <button id='getAPI'>Search</button>
        </form>
        <a id='daily' class='right' href='/daily'><button>Photo of the Day</button></a>
    </header>
