<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SpaceFindr</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel='stylesheet' type='text/css' href='/stylesheets/landing.css'>
    <link rel="icon" href="/img/solar-system.png">
</head>
<body>
    </header>