<% include partials/header %>

<div id='daily-content'>
  <img id='daily-image' src="<%= image.url %>"></img>
  <p id='daily-title'><%= image.title %></p>
  <p id='daily-desc'><%= image.explanation %></p>
</div>

<% include partials/footer %>
