<% include partials/header_landing %>


<content>
  <form action='/search' method='POST'>
    <div id='landing-header'>
      <h1>StarFindr Search</h1>
    </div>
    <input placeholder='Search the universe...' type="text" name='search' id='search' value="">
    <button id='getAPI'>EXPLORE</button>
  </form>
</content>

<% include partials/footer_landing %>
