/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
	font-family: montserrat, arial, verdana;
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ACB6E5,   #4F6388);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ACB6E5, #4F6388); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus, button:focus {
  outline: none;
}

#header {
  width: 100%;
  padding: 24px 0px 24px 48px;
  background-color: #232323;
  position: fixed;
  top: 0;
  z-index: 99;
  box-sizing: border-box;
}

#brand {
  margin-right: 24px;
  font-size: 24px;
  color: #f5f5f5;
  display: inline;
}

content {
  flex: 1 1 720px;
  margin: 108px 36px 36px 36px;
}

section {
  width: 100%;
  margin: 88px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: inline;
  margin: 0;
}

#query {
  margin: 12px 24px;
}

#pod {
  flex: 1 1 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 18px;
}

.item .title {
  margin: 12px 0px 8px 0px;
}

.item .img {
  width: 100%;
  height: auto;
  /*to keep large imgs contained*/
  overflow-y: hidden;
  /*to keep img heights consistant*/
  height: 300px;
  z-index: 50;
  background-clip: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item .img:hover {
  transform: scale(1.05);
}

input {
  height: 28px;
  width: 300px;
}

.item p.desc {
  margin: 0;
  font-size: 12px;
  overflow: hidden;
}

button {
  background-image: url(https://ak9.picdn.net/shutterstock/videos/18681329/thumb/1.jpg);
  background-clip: border-box;
  background-position: center;
  padding: 12px 20px;
  border: none;
  color: #f5f5f5;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

button#getAPI {
  margin-left: 4px;
}

a#daily {
  float: right;
  display: inline;
  margin-right: 48px;
}

section .show-title {
  margin: 24px 0px;
  font-size: 40px;
  text-align: center;
}

section .show-img {
  z-index: 98;
  width: 100%;
  height: 1200px;
  background-clip: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section .meta {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 4px 0px;
}

section .meta p {
  font-size: 12px;
}

section .show-desc {
  margin: 24px 0px;
  width: 50%;
  max-width: 52%;
  text-align: center;
  line-height: 1.75;
  overflow-x: hidden;
}

content .result {
  margin-left: 24px;
}

.img-link {
  width: 100%;
  height: 100%;
}

#daily-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 144px;
}

#daily-image {
  width: 70%;
  height: auto;
  border: 8px #18163D solid;
}

#daily-title {
  font-weight: bold;
  margin-bottom: 0px;
}

#daily-desc {
  width: 60%;
  line-height: 1.5;
}

#see-more {
  margin: 0 auto;
}

footer {
  padding: 0px 48px;
  background: #232323;
  color: #f0f0f0;
  margin-top: 24px;
  flex: 1 1 75px;
  max-height: 75px;
  display: flex;
  align-items: center;
}

#footer-content p {
  font-size: 12px;
  margin: 4px 0px;
}

#footer-content .credit {
  font-size: 8px;
}

@media (max-width: 1000px) {
    .item {
        width: 100%;
        margin-bottom: 48px;
    }
    content {
      margin: 144px 24px 0px 24px;
    }
    .item .title {
      font-size: 48px;
    }
    .item .img {
      flex: 1 1 720px;
    }
    .item .desc {
      font-size: 36px;
    }
    #query {
      font-size: 48px;
    }
    content .result {
      font-size: 36px;
    }
    section {
      margin-top: 144px;
      min-width: 100%;
    }
    section .show-title{
      font-size: 48px;
    }
    section .show-img{
      min-width: 100%;
    }
    section .show-desc {
      font-size: 36px;
      width: 80%;
      max-width: 82%;
    }
    #header {
      display: flex;
      flex: 1 1 200px;
      justify-content: space-between;
    }
    #brand {
      font-size: 48px;
      
    }
    form {
      display: flex;
      align-items: center;
      margin-right: 36px;
    }
    input {
      height: 48px;
      width: 300px;
      font-size: 24px;
    }
    button {
      padding: 16px 36px;
      font-size: 20px;
    }
    a#daily {
      display: none;
    }
    footer {
      flex: 1 1 125px;
      max-height: 125px;
      margin-top: 48px;
    }
    #footer-content p {
      font-size: 24px;
    }

    #footer-content .credit {
      font-size: 12px;
    }
}